{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "all" }],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true, "peerDependencies": false }],
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off"
  }
}
