{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "all" }],
    "semi": ["error", "never"],
    "global-require": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "func-names": "off",
    "import/no-unresolved": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "no-bitwise": "off",
    "no-restricted-syntax": "off"
  }
}
