{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "peerDependencies": false}],
    "new-cap": ["error", { "capIsNew": false }],
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off"
  }
}
